@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;

@navbar-default-bg: #781417;
@navbar-default-border: #781417;
@navbar-default-brand-color: #fff;
@navbar-default-brand-hover-color: #fff;
@navbar-default-brand-hover-bg: darken(@navbar-default-bg, 2%);
@navbar-default-toggle-hover-bg: darken(@navbar-default-bg, 2%);
@navbar-default-toggle-icon-bar-bg: #fff;
@navbar-default-toggle-border-color: #fff;

@navbar-default-color: #fff;
@navbar-default-link-color: #fff;
@navbar-default-link-hover-color: #eee;
@navbar-default-link-active-color: #fff;

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.svg#IcoMoon') format('svg'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;